@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

*,
*::before
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-bg-color: #4f646f;
    --accent-color: #00c49a;
    --main-red-color: #FF6B6B;
    --main-yellow-color: #F8E16C;
}

html{
    font-size: 16px;
    background: var(--main-bg-color);
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

/* Header */
.main-title{
    font-size: 4rem;
}

/* Scorboard */
.scoreboard{
    border: 3px solid var(--accent-color);
    display: flex;
    width: 250px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.badge{
    padding: .125rem;
    background: var(--main-red-color);
    position: absolute;
}

.badge.user-badge{
    top: 50%;
    left: -6%;
    transform: translateY(-50%);
}
.badge.comp-badge{
    top: 50%;
    right: -7%;
    transform: translateY(-50%);
}

.score{
    font-size: 4rem;
    padding: .5rem;
    margin: 0;
}

.score.won{
    color: var(--accent-color);
}

.score.lost{
    color: var(--main-red-color);
}

.scoreboard span{
    font-size: 3rem;
    margin: 0;
}

/* Main Game */
.text-display{
    font-size: 2rem;
    text-align: center;
}

.game-selections{
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.game-selections .selection{
    cursor: pointer;
    border: 3px solid #fff;
    border-radius: 50%;
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.25rem;
    transition: all .05s ease;
}

.game-selections .selection:hover{
    transform: scale(1.1);
    border-color: var(--main-yellow-color);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.3);
}

.game-selections .selection i{
    font-size: 2rem;
} 

.game-selections .selection#p i{
    position: relative;
    left: -2%;
}

.round-selections{
    font-size: 1.25rem;
    font-weight: 300;
}

.reset-game{
    display: none;
    padding: 1rem 2rem;
    text-transform: uppercase;
    background: transparent;
    border: 3px solid #fff;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
    transition: all .3s ease;
}

.reset-game:hover{
    background: var(--main-yellow-color);
}

.reset-game.show{
    display: block;
    margin: 2rem auto;
}

